 *{
    margin: 0;
    padding: 0;

 }
 .logo img{
    height: 70px;
    vertical-align: center;
    padding: 10px;
    margin-top: 10px;
}
.bgclr{
    background-color: #F5F5F5;
   height: 100vh;
   z-index: -999;
}
.container{
    max-width: 1170px;
    margin: auto;
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-self: center0;

}
ul li:hover{
    color: #fc5130;
}
.listsitems{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navlists{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
   
}
.navlists li{
    list-style: none;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight:600;
    color: #2f323a;
    padding-left: 15px;
    padding-right: 15px;
}
.rocket{
    margin-right: 10px;
}
.btn {
    display: inline-block;
    background-color: #fc5130;
    text-align: center;
    height:2.8rem;
    width: 9rem;
    border: 1px solid  transparent; 
}
.btn>a{
    font-weight: 200;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
}
.mug{
    margin-right:5px;
}
.mp-btn{
    color: white;
    font-size: 15px;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    width: 150px;
}
.text-mainpg{
    padding-top: 25px;
    position: relative;
}
.heading-title{
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1.2;
    font-family:Gilroy, sans-serif;
    color: #fc5130;
    -ms-word-wrap: break-word;
    word-wrap: break-word;

}

.hanging-logo {
    width: 100px; 
    height: 80px; 
    background-image: url('/css.svg');
    
    background-size: contain;
    position: relative;
    animation: sway 3s infinite alternate; 
    background-repeat: no-repeat;
}
.hanging-logo2 {
    width: 100px; 
    height: 80px; 
    background-image: url('/js.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: sway 3s infinite alternate; 
}
.hanging-logo3 {
    width: 100px; 
    height: 80px; 
    background-image: url('/react.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: sway 3s infinite alternate; 
}
.hanging-logo4 {
    width: 100px; 
    height: 80px; 
    background-image: url('/angular.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: sway 3s infinite alternate; 
}
.hangers{
    display: flex;
}

@keyframes sway {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px) rotate(-2deg);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(5px) rotate(2deg);
    }
    100% {
        transform: translateY(0);
    }
}



/* .text-mainpg::before{
    content: "";
    border: 5px solid #fc5130;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    background-image: url(/html.png);

    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: -4%;
    width: 85%;
    height: 100%;
    transform: rotate(-12deg);
    z-index: 1;

} */

.para-mp{
    font-size: 1.5rem;
    font-weight: 400;
    color: #6f6f6f;
    font-family:Gilroy, sans-serif;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.main-page{
    display: grid;
    grid-template-columns: 60% 40%;
}
.mp-hero-img{
  height: 380px;
}
.stwo-text{
    display: flex;
    justify-content: space-between;
}
.icon-globe:before {
    content: "\e037";
}